#Genereted with https://config.gab-3d.com/
#
# https://config.gab-3d.com/share/d960aa1b-0660-4be1-958e-fa6f733126cd

[gcode_macro PRINT_START]
gcode:
  {% set BED_TEMP = params.BED|default(60)|float %}
  {% set EXTRUDER_TEMP = params.EXTRUDER|default(195)|float %}
  {% set S_EXTRUDER_TEMP = 150|float %}
  {% set initial_tool = params.TOOL|default("0")|int %}
  {% set BED = params.BED_TEMP|int %}
  {% set EXTRUDER = params.EXTRUDER_TEMP|int %}   STATUS_HOMING  ;Custom command
  G28  ;Home all Axes
   AFC_PARK  ;Custom command
   STATUS_HEATING  ;Custom command
  M190 S{BED}  ;Set bed temperature and wait
  M109 S120  ;Set extruder temperature and wait
   STATUS_HOMING  ;Custom command
  G28  ;Home all Axes
   STATUS_LEVELING  ;Custom command
  QUAD_GANTRY_LEVEL  ;Quad Gantry Level
  G28 Z  ;Home Z axis
   STATUS_MESHING  ;Custom command
  BED_MESH_CLEAR  ;Clear Bed Mesh
   BED_MESH_CALIBRATE  ;Custom command
   STATUS_CLEANING  ;Custom command
   AFC_BRUSH  ;Custom command
   CARTOGRAPHER_TOUCH  ;Custom command
  M109 S{EXTRUDER}  ;Set extruder temperature and wait
   STATUS_CLEANING  ;Custom command
   AFC_BRUSH  ;Custom command
   AFC_PARK   ;Custom command
   T{initial_tool}  ;Custom command
   STATUS_PRINTING  ;Custom command
  _PURGE_LINE  ;Front Purge

[gcode_macro PRINT_END]
gcode:
  _MOVE_AWAY  ;Move away from print
  G1 E-25 F1800  ;Retract filament
   AFC_PARK  ;Custom command
  TURN_OFF_HEATERS  ;Turn off heaters
  M84  ;Disable motors
   STATUS_READY  ;Custom command


[gcode_macro M190]
rename_existing: M190.1
gcode:
  {% if printer["gcode_macro status_heating"] != null %}
    status_heating
  {% endif %}
    M190.1 { rawparams }
  {% if printer["gcode_macro status_ready"] != null %}
    status_ready
  {% endif %}


[gcode_macro M109]
rename_existing: M109.1
gcode:
  {% if printer["gcode_macro status_heating"] != null %}
    status_heating
  {% endif %}
    M109.1 { rawparams }
  {% if printer["gcode_macro status_ready"] != null %}
    status_ready
  {% endif %}


[gcode_macro _PURGE_LINE]
gcode:
  {% if printer["gcode_macro status_cleaning"] != null %}
    status_cleaning
  {% endif %}
  SAVE_GCODE_STATE NAME=Pre_Prime
        
  G90
  G92 E0 ;Reset Extruder

  G1 Z10.0 F3000 ;Move Z Axis up
  G1 X0 Y0;
  G1 E10.0 F1800
  G1 Z0.28 F5000.0 ;Move to start position
  G1 X220 Y0 Z0.28 F1500.0 E30 ;Draw the first line
  G92 E0 ;Reset Extruder
  G1 Z10 F3000 ;Move Z Axis up
  RESTORE_GCODE_STATE NAME=Pre_Prime

  {% if printer["gcode_macro status_printing"] != null %}
    status_printing
  {% endif %}


[gcode_macro _MOVE_AWAY]
gcode:
    {% set th = printer.toolhead %}
    {% set x_safe = th.position.x + 20 * (1 if th.axis_maximum.x - th.position.x > 20 else -1) %}
    {% set y_safe = th.position.y + 20 * (1 if th.axis_maximum.y - th.position.y > 20 else -1) %}
    {% set z_safe = [th.position.z + 2, th.axis_maximum.z]|min %}
      
    G90                                      ; absolute positioning
    G0 X{x_safe} Y{y_safe} Z{z_safe} F20000  ; move nozzle to remove stringing

